@tailwind base;
@tailwind components;
@tailwind utilities;
.genre-container {
  text-align: center;
}
.table-row {
  border: 5px solid transparent;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.header-font {
  font-family: Niconne;
  font-size: 25px;
}

.b1 {
  border: 1px solid black;
}
.b2 {
  border: 1px solid black;
}
